[Unit]
Description=Monthabor startup Service
After=network-manager.service
StartLimitIntervalSec=0
StartLimitAction=reboot
Type=simple
Restart=always
RestartSec=1
User=martin
ExecStart=/home/martin/mon/automatic.sh

[Install]
WantedBy=multi-user.target