[Desktop Entry]
Type=Application
Exec=/home/${USER}/launch.sh
Name=QGroundContr
Terminal=true
X-GNOME-Autostart-enabled=true
Comment=Execution de QGroundControl